#auth-container, #sign-up-container {
  padding: 30px 10%;
}
#sign-up-container {
  border-left: 5px solid var(--theme-color-light);
}
input {
  margin: 15px 0;
}
#sign-up-submit {
  margin-top: 10px;
  border: none;
  background-color: var(--theme-color-dark);
  color: white;
  font-size: 110%;
}
