html
  head
    link(rel='stylesheet',href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel='stylesheet',href='./css/base.css')
    link(rel='stylesheet',href='https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css')

    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    script(src='https://www.gstatic.com/firebasejs/5.8.3/firebase.js')

    script(src='https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js')
    script
      include includes/initFirebase.js

    script(src='https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js')
    script
      include includes/startFirebaseUI.js

    script.
      firebase.auth().signOut().then(function () {
        Cookies.remove('username')
        Cookies.remove('uid')
        console.log('signed out')
      })

    style
      include includes/welcome.css

  body
    div#app
      include includes/header

      div#main
        div.row
          div#auth-container.col-6
            div#firebaseui-auth-container

          div#sign-up-container.col-6
            input.form-control#sign-up-email(type='email',placeholder='Email')
            input.form-control#sign-up-password(type='password',placeholder='Password')
            hr
            button#sign-up-submit.btn.btn-primary Sign Up

    script(src='./js/signup.js')

